{% extends 'base.html' %}
{% load static %}
{% block title %}Sign In{% endblock %}

{% block content %}
<div class="auth-container" style="background-image:url('{% static 'img/hero_5.jpeg' %}');">
  <div class="auth-card">
    <h2 class="auth-title">Sign In</h2>

    {% if messages %}
      {% for message in messages %}
        <div class="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="id_email">Email</label>
        <input 
          type="email" 
          name="email" 
          id="id_email" 
          placeholder="Enter email"
          value="{{ form.email.value|default:'' }}"
          required
        >
        {% if form.email.errors %}
          <span class="error">{{ form.email.errors.0 }}</span>
        {% endif %}
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="id_password">Password</label>
        <input 
          type="password" 
          name="password" 
          id="id_password" 
          placeholder="Enter password"
          required
        >
        {% if form.password.errors %}
          <span class="error">{{ form.password.errors.0 }}</span>
        {% endif %}
      </div>

      <button type="submit" class="btn-submit">Sign In</button>
    </form>

    <p class="footer-text">
        Don't have an account? 
      <a href="{% url 'register_url' %}">Register</a>
    </p>
  </div>
</div>
{% endblock %}